{% extends "blank.html" %}
{% block content %}

<div class="row">
    <div class="col-sm-12">
        <div class="column">
<!--            <a class="btn btn-info m-b-5 m-r-2" style="margin-bottom: 7px" id="update" data-toggle="modal"-->
<!--               data-target="#update_modal"><i class="fa fa-plus"> </i> بروزرسانی-->
<!--            </a>-->
            <a class="btn btn-info m-b-5 m-r-2" style="margin-bottom: 7px;" href="" data-toggle="modal"
               data-target="#filter"> فیلتر </a>
<!--            <a class="btn btn-info m-b-5 m-r-2" style="margin-bottom: 7px" href="/kashano"> همه </a>-->
<!--            <a class="btn btn-info m-b-5 m-r-2" style="margin-bottom: 7px" href="/kashano?download_status=True"> دانلود-->
<!--                شده ها </a>-->
<!--            <a class="btn btn-info m-b-5 m-r-2" style="margin-bottom: 7px" href="/kashano?delete_status=True"> حذف شده-->
<!--                ها </a>-->
            <a class="btn btn-info m-b-5 m-r-2" data-toggle="modal"
               data-target="#export" style="margin-bottom: 7px;float: left" href=""> خروجی </a>
        </div>
    </div>
    <div class="col-md-12">
        <div class="portlet box border shadow" >
            <div class="portlet-heading">
                <div class="portlet-title">
                    <h3 class="title" style="font-weight: bold">
                        <i class="icon-settings"></i>
                        مدیریت کاشانو
                    </h3>
                </div><!-- /.portlet-title -->
                <div class="buttons-box">
                    <div class="code-modal hide">
                    </div>
                    <a class="btn btn-sm btn-default btn-round btn-fullscreen" rel="tooltip" title="تمام صفحه"
                       href="#">
                        <i class="icon-size-fullscreen"></i>
                    </a>
                    <a class="btn btn-sm btn-default btn-round btn-collapse" rel="tooltip" title="کوچک کردن"
                       href="#">
                        <i class="icon-arrow-up"></i>
                    </a>
                </div><!-- /.buttons-box -->
            </div><!-- /.portlet-heading -->
            <div class="portlet-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped" id="data-table">
                        <thead>
                        <tr>
                            <th class="th-sm">شناسه
                            </th>
                            <th class="th-sm">نام
                            </th>
                            <th class="th-sm">نوع ملک
                            </th>
                            <th class="th-sm">نوع معامله
                            </th>
                            <th class="th-sm">محله
                            </th>
                            <th class="th-sm">آدرس
                            </th>
                            <th class="th-sm">وضعیت
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for record in records %}
                        <tr>
                            <td>{{ record.elead_id }}</td>
                            <td>{{ record.name }}</td>
                            <td>{{ record.est_type }}</td>
                            <td>{{ record.deal_type }}</td>
                            <td>{{ record.area }}</td>
                            <td>{{ record.est_address }}</td>
                            <td style="text-align: center">
                                <a class="edit-modal btn btn-info btn-sm" href="/kashano/view?id={{ record.id }}"
                                   type="submit" value="{{ record.id }}">نمایش
                                </a>
                                <a class="send-modal btn btn-success btn-sm"
                                   href="/kashano/edit?id={{ record.id }}" type="submit"> ویرایش</a>
                                {% if record.delete_status == False or record.delete_status == None %}
                                <a class="delete-modal btn btn-danger btn-sm" href="/kashano/delete?ids={{ record.id }}" >حذف
                                </a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="pagination">
                        <span class="step-links">
                            {% if records.has_previous %}
                                <a href="?page=1">&laquo; first</a>
                                <a href="?page={{ records.previous_page_number }}">previous</a>
                            {% endif %}

                            <span class="current">
                                Page {{ Generics.number }} of {{ Generics.paginator.num_pages }}.
                            </span>

                            {% if records.has_next %}
                                <a href="?page={{ records.next_page_number }}">next</a>
                                <a href="?page={{ records.paginator.num_pages }}">last &raquo;</a>
                            {% endif %}
                        </span>
                    </div>
                </div><!-- /.table-responsive -->
            </div><!-- /.portlet-body -->
        </div><!-- /.portlet -->
    </div><!-- /.col-md-12 -->

</div><!-- /.row -->
<div class="modal" id="delete_modal">
    <div class="modal-dialog">
        <form action="" method="post" id="form_2">
            {% csrf_token %}

            <div class="modal-content">
                <div class="modal-header">
                    <p class="title" style="font-weight: bold">
                        <i class="icon-frane"></i>
                        حذف Generic
                    </p>
                </div>
                <div class="modal-body">
                    <p style="margin-bottom: 0">شما در حال حذف اطلاعات جاری هستید . آیا ادامه میدهید ؟</p>
                    <input id="delete_item" type="hidden" name="ids" value="">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal"
                            style="width: 60px; font-weight: bold">خیر
                    </button>

                    <button type="submit" class="btn btn-danger" id="submit_form_2"
                            style="width: 60px; font-weight: bold">حذف
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal" id="update_modal">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <p class="title" style="font-weight: bold">
                    <i class="icon-frane"></i>
                    بروزرسانی
                </p>
            </div>
            <div class="modal-body">
                <p id="updateP" style="margin-bottom: 0"> در حال بروزرسانی .......... </p>
            </div>
            <div class="modal-footer">
                <form action="" method="get">
                    <input type="hidden" id="updateInput" value="تایید" class="btn btn-success"
                           style="width: 60px; font-weight: bold">
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="export">
    <div class="modal-dialog">
        <form action="/kashano/export" method="get">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="title" style="font-weight: bold">
                        <i class="icon-frane"></i>
                        export file
                    </p>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="format" class="col-sm-4 col-form-label"> نوع فایل :</label>
                        <div class="col-sm-8">
                            <select name="format" id="format" class="form-control select2 allow-cancel"
                                    style="width: 200px">
                                <option value="json"> json-file</option>
                                <option value="xlsx"> xlsx-file</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="download_status" class="col-sm-4 col-form-label"> وضعیت دانلود :</label>
                        <div class="col-sm-8">
                            <select name="download_status" id="download_status"
                                    class="form-control select2 allow-cancel"
                                    style="width: 200px">
                                <option value="False"> دانلود نشده ها</option>
                                <option value="True"> دانلود شده ها</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="download_time" class="col-sm-4 col-form-label"> دانلودهای قبلی :</label>
                        <div class="col-sm-8">
                            <select name="download_time" id="download_time"
                                    class="form-control select2 allow-cancel"
                                    style="width: 200px">
                                {% for download_time in download_times %}
                                <option value="{{download_time.download_time}}"> {{download_time.download_time}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="start" class="col-sm-4 col-form-label"> تاریخ شروع :</label>
                        <div class="col-sm-8">
                            <input type="date" name="start" id="start" class="form-control" style="width: 200px">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="end" class="col-sm-4 col-form-label"> تاریخ پایان :</label>
                        <div class="col-sm-8">
                            <input type="date" name="end" id="end" class="form-control" style="width: 200px">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                    <input type="submit" value="تایید" class="btn btn-success"
                           style="width: 60px; font-weight: bold">
                </div>
            </div>

        </form>

    </div>
</div>
<div class="modal" id="filter">
    <div class="modal-dialog">
        <form action="" method="get">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="title" style="font-weight: bold">
                        <i class="icon-frane"></i>
                        فیلتر
                    </p>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label for="deal_type" class="col-sm-4 col-form-label"> نوع معامله :</label>
                                <div class="col-sm-8">
                                    <select name="deal_type" id="deal_type" class="form-control select2 allow-cancel"
                                            style="width: 200px">
                                        <option value="EJARE"> اجاره</option>
                                        <option value="KHARID"> خرید</option>
                                        <option value="PISHKHARID"> پیش خرید</option>
                                        <option value="MOAVEZE"> معاوضعه</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="deal_type" class="col-sm-4 col-form-label"> نوع ملک :</label>
                                <div class="col-sm-8">
                                    <select class="form-control select2 allow-cancel" name="est_type" id="est_type"
                                            style="width: 200px">
                                        <option value="APARTMENT"> آپارتمان</option>
                                        <option value="EDARI"> اداری</option>
                                        <option value="MAGHAZE"> مغازه</option>
                                        <option value="VILA"> ویلا</option>
                                        <option value="KOLANGI"> گلنگی</option>
                                        <option value="ZAMIN"> زمین</option>
                                        <option value="BAAGH"> باغ</option>
                                        <option value="BAAGHVILA"> باغ ویلا</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="area_id" class="col-sm-4 col-form-label"> ناحیه :</label>
                                <div class="col-sm-8">
                                    <select name="area_id" class="form-control select2 allow-cancel" id="area_id"
                                            style="width: 200px">
<!--                                        {% for area in areas%}-->
<!--                                        <option value="{{area.area_id}}">{{area.text}}</option>-->
<!--                                        {% endfor %}-->
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="deal_type" class="col-sm-4 col-form-label"> دانلود :</label>
                                <div class="col-sm-8">
                                    <select name="download_status" class="form-control select2 allow-cancel"
                                            id="download_status" style="width: 200px">
                                        <option value="False"> دانلود نشده</option>
                                        <option value="True"> دانلود شده</option>

                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="delete_status" class="col-sm-4 col-form-label"> حذف :</label>
                                <div class="col-sm-8">
                                    <select name="delete_status" class="form-control select2 allow-cancel"
                                            id="delete_status"
                                            style="width: 200px">
                                        <option value="False"> حذف نشده</option>
                                        <option value="True"> حذف شده</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-5">
                            <div class="form-group row">
                                <label for="elead_id" class="col-sm-4 col-form-label">شناسه :</label>
                                <div class="col-sm-8">
                                    <input type="text" id="elead_id" name="elead_id" class="form-control"
                                           style="width: 150px">
                                </div>

                            </div>
                            <div class="form-group row">
                                <label for="name" class="col-sm-4 col-form-label">نام :</label>
                                <div class="col-sm-8">
                                    <input type="text" id="name" name="name" class="form-control" style="width: 150px">
                                </div>

                            </div>
                            <div class="form-group row">
                                <label for="phone" class="col-sm-4 col-form-label">تماس :</label>
                                <div class="col-sm-8">
                                    <input type="text" id="phone" name="phone" class="form-control"
                                           style="width: 150px">
                                </div>

                            </div>
                            <div class="form-group row">
                                <label for="phone2" class="col-sm-4 col-form-label">تماس 2 :</label>
                                <div class="col-sm-8">
                                    <input type="text" id="phone2" name="phone2" class="form-control"
                                           style="width: 150px">
                                </div>

                            </div>
                            <div class="form-group row">
                                <label for="owner_phone" class="col-sm-4 col-form-label">تماس مالک :</label>
                                <div class="col-sm-8">
                                    <input type="text" id="owner_phone" name="owner_phone" class="form-control"
                                           style="width: 150px">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" value="تایید" class="btn btn-success"
                           style="width: 60px; font-weight: bold">
                </div>
            </div>
        </form>

    </div>
</div>

<!--# update modal #-->
<script>
        $(document).ready(function () {
            $('#update').on('click', function () {
                $.get("/kashano/get", function (data) {
                    $("#updateP").text(data);
                    $("#updateInput").attr('type', 'submit');
                });
            })
        })























</script>

<!--# delete modal #-->
<script>
        $(document).ready(function () {
            $('#data-table').on('click', '.delete-modal', function () {
                var ID = $(this).val();
                $('#delete_item').val(ID)
            });
            $('#submit_form_2').on('click', function () {
                var ID = $('#delete_item').val()
                $.get("/kashano/delete", {ids: ID});
            })
        })









</script>
<script>
        $(document).ready(function () {
            $(".select2").val(null).trigger('change');
        });










</script>

{% endblock %}

